# Finding Dogs a Home 
## Table of Contents
1. Data Wrangling <br>
&emsp; 1a. [Merging the Dataset](#Merge)<br>
&emsp; 1b. [Cleaning the Dataset](#Clean)

# 1. Data Wrangling Pet Datasets
Four pet adoption datasets were found on governmental and adoption websites representing Austin, TX, Louisville, KY, Dallas, TX, and Sonoma, CA. The dataset includes various species of animals and the prime focus of this study is to investigate the different adoption rates in these regions with the purpose of statistically understanding whether regions have preferences to the type of animals that are adopted. Ultimately, we would want to develop a machine learning model to predict the adoption likelihood of potential pets. This can ultimately allow users to effectively allocate resources to endangered animals and improve their chances of adoption. To limit the scope of the project, this would only focus on dog.
### Wrangling Approach:
The biggest challenge to the data wrangling portion of this project is to effectively merge the datasets. Since there is no universal standard in organizing and collecting data, these datasets were likely collected for the purpose of record keeping instead of data science purposes. Merging the datasets would results in abundance of missing data and important features. The data wrangling process will take a 2 step approach.
 1. Merge the datasets
         a. universalize the feature names 
         b. drop unimportant features
         c. if necessary feature engineer dataset
 2. Clean the merged dataset
         a. clean dataset
         b. feature engineering

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime as dt

## 1a. Merging the Dataset
<a id='Merge'></a>

In [2]:
# import datasets
df_Austin = pd.read_csv('../Data/Raw/Austin_Animal_Center_Outcomes.csv', parse_dates = 
                        ['DateTime', 'MonthYear', 'Date of Birth'])
df_Louisville = pd.read_csv('../Data/Raw/Louisville_Kentucky_Animal_IO_Data_5.csv', parse_dates = 
                            ['IntakeDate', 'DOB', 'OutcomeDate'])
df_Dallas = pd.read_csv('../Data/Raw/Dallas_FY_2017_Dallas_Animal_Shelter_Data.csv', parse_dates = 
                        ['Intake Date', 'Outcome Date'])
df_Sonoma = pd.read_csv('../Data/Raw/Sonoma_County_Animal_Shelter_Intake_and_Outcome.csv', parse_dates = 
                        ['Date Of Birth', 'Intake Date', 'Outcome Date'])

In [3]:
# start by investigating Austin, Texas Dataset
df_Austin.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A789976,NaN,2019-03-05 19:07:00,2019-03-05 19:07:00,2018-03-02,Transfer,Snr,Cat,Intact Male,1 year,Domestic Medium Hair Mix,Black
1,A789980,NaN,2019-03-05 19:07:00,2019-03-05 19:07:00,2018-03-02,Transfer,Snr,Cat,Intact Male,1 year,Domestic Shorthair Mix,Black/White
2,A789966,NaN,2019-03-05 19:06:00,2019-03-05 19:06:00,2018-03-02,Transfer,Snr,Cat,Unknown,1 year,Domestic Medium Hair Mix,Orange Tabby/White
3,A789958,NaN,2019-03-05 19:05:00,2019-03-05 19:05:00,2017-03-02,Transfer,Snr,Cat,Intact Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
4,A789838,*Tansy,2019-03-05 19:01:00,2019-03-05 19:01:00,2018-02-28,Adoption,NaN,Dog,Spayed Female,1 year,Golden Retriever Mix,Cream/White

In [4]:
df_Austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96442 entries, 0 to 96441
Data columns (total 12 columns):
Animal ID           96442 non-null object
Name                66738 non-null object
DateTime            96442 non-null datetime64[ns]
MonthYear           96442 non-null datetime64[ns]
Date of Birth       96442 non-null datetime64[ns]
Outcome Type        96435 non-null object
Outcome Subtype     43686 non-null object
Animal Type         96442 non-null object
Sex upon Outcome    96440 non-null object
Age upon Outcome    96436 non-null object
Breed               96442 non-null object
Color               96442 non-null object
dtypes: datetime64[ns](3), object(9)
memory usage: 8.8+ MB

In [5]:
#check redundancy of 'DateTime' and 'MonthYear' columns
(df_Austin.loc[:, 'DateTime'] == df_Austin.loc[:, 'MonthYear']).all()

True

In [6]:
# drop features unrelated to analysis and add location feature for merging dataset
df_Austin = df_Austin.drop(columns = ['Animal ID','Name', 'MonthYear', 'Age upon Outcome', 'Outcome Subtype'])
df_Austin['Location'] = 'Austin'

In [7]:
#Rename Columns and resulting dataframe
df_Austin.columns = ['Outcome_Date', 'DOB', 'Outcome_Type', 'Animal_Type',
                    'Sex', 'Breed', 'Color', 'Location']
df_Austin.head()

,Outcome_Date,DOB,Outcome_Type,Animal_Type,Sex,Breed,Color,Location
0,2019-03-05 19:07:00,2018-03-02,Transfer,Cat,Intact Male,Domestic Medium Hair Mix,Black,Austin
1,2019-03-05 19:07:00,2018-03-02,Transfer,Cat,Intact Male,Domestic Shorthair Mix,Black/White,Austin
2,2019-03-05 19:06:00,2018-03-02,Transfer,Cat,Unknown,Domestic Medium Hair Mix,Orange Tabby/White,Austin
3,2019-03-05 19:05:00,2017-03-02,Transfer,Cat,Intact Male,Domestic Shorthair Mix,Brown Tabby/White,Austin
4,2019-03-05 19:01:00,2018-02-28,Adoption,Dog,Spayed Female,Golden Retriever Mix,Cream/White,Austin

In [8]:
# Investigate Louisville Dataset
df_Louisville.head()

,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,SecondaryColor,...,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome
0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,BROWN,...,FEARFUL,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED
1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,NaN,...,NORMAL,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN
2,A532367,BIRD,2014-07-23 23:21:00,CONFISCATE,CRUELTY,RED,CHICKEN,NaN,MALE,BLACK,...,OTHER,HEALTHY,FERTILE,2014-11-05 15:49:00,TRANSFER,NaN,NaN,NaN,HEALTHY,FERTILE
3,A532474,OTHER,2014-07-24 18:29:00,ET REQUEST,NaN,BROWN,BAT,NaN,UNKNOWN,NaN,...,OTHER,HEALTHY,UNKNOWN,2014-07-24 23:59:00,EUTH,MEDICAL,NaN,OTHER,HEALTHY,UNKNOWN
4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,BROWN,...,NORMAL,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE

In [9]:
df_Louisville.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150842 entries, 0 to 150841
Data columns (total 22 columns):
AnimalID                       150842 non-null object
AnimalType                     150842 non-null object
IntakeDate                     150842 non-null datetime64[ns]
IntakeType                     150842 non-null object
IntakeSubtype                  146286 non-null object
PrimaryColor                   150825 non-null object
PrimaryBreed                   150842 non-null object
SecondaryBreed                 40532 non-null object
Gender                         150842 non-null object
SecondaryColor                 80579 non-null object
DOB                            94618 non-null datetime64[ns]
IntakeReason                   34805 non-null object
IntakeInternalStatus           150842 non-null object
IntakeAsilomarStatus           150842 non-null object
ReproductiveStatusAtIntake     150842 non-null object
OutcomeDate                    150640 non-null datetime64[ns]
OutcomeType                    150390 non-null object
OutcomeSubtype                 123860 non-null object
OutcomeReason                  0 non-null float64
OutcomeInternalStatus          49721 non-null object
OutcomeAsilomarStatus          150640 non-null object
ReproductiveStatusAtOutcome    150640 non-null object
dtypes: datetime64[ns](3), float64(1), object(18)
memory usage: 25.3+ MB

In [10]:
#remove unnecessary columns and add location column
df_Louisville = df_Louisville.drop(columns = ['AnimalID','IntakeReason','IntakeAsilomarStatus', 
                                              'ReproductiveStatusAtIntake','OutcomeSubtype', 'OutcomeReason', 
                                              'OutcomeInternalStatus',
                                              'ReproductiveStatusAtOutcome'])
df_Louisville['Location'] = 'Louisville'

In [11]:
#rename column
df_Louisville.columns = ['Animal_Type', 'Intake_Date', 'Intake_Type', 'Intake_Subtype', 'Primary_Color',
                         'Breed', 'Secondary_Breed', 'Sex', 'Secondary_Color', 'DOB', 'Intake_Status','Outcome_Date', 
                         'Outcome_Type', 'Health', 'Location']

In [12]:
#merge color columns to single column
df_Louisville['scolor'] = '/' + df_Louisville[df_Louisville['Secondary_Color'] != '']['Secondary_Color']
df_Louisville['scolor'] = df_Louisville['scolor'].fillna('')
df_Louisville['Color'] = df_Louisville.loc[:, 'Primary_Color'] + df_Louisville.loc[:, 'scolor']
df_Louisville = df_Louisville.drop(columns = ['Primary_Color', 'Secondary_Color', 'scolor'])

In [13]:
#merge breed columns to single column
df_Louisville['mix_breed'] = '/' + df_Louisville[df_Louisville['Secondary_Breed'] != '']['Secondary_Breed']
df_Louisville['mix_breed'] = df_Louisville['mix_breed'].fillna('')
df_Louisville['Breed'] = df_Louisville.loc[:, 'Breed'] + df_Louisville.loc[:, 'mix_breed']
df_Louisville = df_Louisville.drop(columns = ['Secondary_Breed', 'mix_breed'])

In [14]:
df_Louisville.head()

,Animal_Type,Intake_Date,Intake_Type,Intake_Subtype,Breed,Sex,DOB,Intake_Status,Outcome_Date,Outcome_Type,Health,Location,Color
0,CAT,2008-11-07 10:50:00,STRAY,OTC,DOMESTIC SHORTHAIR,NEUTERED MALE,NaT,FEARFUL,2008-11-12 15:46:00,EUTH,UNHEALTHY/UNTREATABLE,Louisville,WHITE/BROWN
1,CAT,2008-11-10 10:20:00,STRAY,OTC,DOMESTIC SHORTHAIR/DOMESTIC SHORTHAIR,UNKNOWN,NaT,NORMAL,2008-11-19 20:10:00,EUTH,HEALTHY,Louisville,BLACK
2,BIRD,2014-07-23 23:21:00,CONFISCATE,CRUELTY,CHICKEN,MALE,NaT,OTHER,2014-11-05 15:49:00,TRANSFER,HEALTHY,Louisville,RED/BLACK
3,OTHER,2014-07-24 18:29:00,ET REQUEST,NaN,BAT,UNKNOWN,NaT,OTHER,2014-07-24 23:59:00,EUTH,HEALTHY,Louisville,BROWN
4,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,PIT BULL TERRIER,MALE,2005-09-11,NORMAL,2006-09-12 13:44:00,EUTH,HEALTHY,Louisville,WHITE/BROWN

In [15]:
# Investigate Dallas Dataset
df_Dallas.head()

,Animal ID,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source ID,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A0989676,CAT,DOMESTIC SH,CC 29,IMPOUNDED,NaN,NaN,1,P0646273,5902,...,12:00.0,R17-500577,K17-377075,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,OVER THE COUNTER,NaN,APR.2017,FY2017
1,A1008559,DOG,GERM SHEPHERD,DC 05,UNAVAILABLE,NaN,A17-075580,1,P0000000,5600,...,06:00.0,R17-516477,K17-393870,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,FIELD,ADOPTED:SX:09/29/17,SEP.2017,FY2017
2,A1002409,CAT,DOMESTIC SH,LFC 055,IMPOUNDED,NaN,NaN,1,P0795984,11103,...,45:00.0,NaN,K17-387910,NaN,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNABLE TO SCAN,OVER THE COUNTER,NaN,JUL.2017,FY2017
3,A0962054,DOG,LABRADOR RETR,PAWS 02,AVAILABLE,NaN,A16-036430,1,P0000000,17102,...,54:00.0,R16-477153,K16-362868,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,FIELD,FREE ADOPTION11/19/16,OCT.2016,FY2017
4,A0960676,DOG,YORKSHIRE TERR,LOST,LOST REPORT,NaN,NaN,1,P0756878,75104,...,32:00.0,NaN,K16-362095,NaN,NaN,UNABLE TO SCAN,OVER THE COUNTER,NaN,OCT.2016,FY2017

In [16]:
df_Dallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34819 entries, 0 to 34818
Data columns (total 32 columns):
Animal ID                 34819 non-null object
Animal Type               34819 non-null object
Animal Breed              34819 non-null object
Kennel Number             34819 non-null object
Kennel Status             34819 non-null object
Tag Type                  0 non-null float64
Activity Number           17969 non-null object
Activity Sequence         34819 non-null int64
Source ID                 34819 non-null object
Census Tract              34680 non-null object
Council District          34680 non-null object
Intake Type               34819 non-null object
Intake Subtype            33409 non-null object
Reason                    6210 non-null object
Staff ID                  34819 non-null object
Intake Date               34819 non-null datetime64[ns]
Intake Time               34819 non-null object
Due Out                   34819 non-null object
Intake Condition          34819 non-null object
Hold Request              17267 non-null object
Outcome Type              34819 non-null object
Outcome Date              34587 non-null datetime64[ns]
Outcome Time              34819 non-null object
Receipt Number            16169 non-null object
Impound Number            34819 non-null object
Service Request Number    268 non-null object
Outcome Condition         33694 non-null object
Chip Status               34819 non-null object
Animal Origin             34811 non-null object
Additional Information    19612 non-null object
Month                     34819 non-null object
Year                      34819 non-null object
dtypes: datetime64[ns](2), float64(1), int64(1), object(28)
memory usage: 8.5+ MB

In [17]:
#remove unnecessary columns and add location column
df_Dallas = df_Dallas.drop(columns = ['Animal ID', 'Kennel Number', 'Tag Type', 'Kennel Status', 
                                     'Activity Number', 'Activity Sequence', 'Source ID',
                                     'Census Tract', 'Council District','Reason', 'Staff ID', 'Intake Time', 
                                     'Outcome Time', 'Due Out','Intake Condition', 'Hold Request', 
                                      'Outcome Time', 'Receipt Number', 'Impound Number', 'Service Request Number', 
                                      'Animal Origin', 'Additional Information', 'Month', 'Year'])
df_Dallas['Location'] = 'Dallas'

In [18]:
#rename column
df_Dallas.columns = ['Animal_Type', 'Breed', 'Intake_Type', 'Intake_Subtype', 'Intake_Date', 
                     'Outcome_Type', 'Outcome_Date', 'Health','Chip_Status', 'Location']

In [19]:
df_Dallas.head()

,Animal_Type,Breed,Intake_Type,Intake_Subtype,Intake_Date,Outcome_Type,Outcome_Date,Health,Chip_Status,Location
0,CAT,DOMESTIC SH,STRAY,AT LARGE,2017-04-19,TRANSFER,2017-04-19,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,Dallas
1,DOG,GERM SHEPHERD,CONFISCATED,KEEP SAFE,2017-09-16,ADOPTION,2017-10-02,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,Dallas
2,CAT,DOMESTIC SH,STRAY,AT LARGE,2017-07-19,TRANSFER,2017-07-24,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,UNABLE TO SCAN,Dallas
3,DOG,LABRADOR RETR,STRAY,AT LARGE,2016-10-28,ADOPTION,2016-11-19,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,Dallas
4,DOG,YORKSHIRE TERR,LOST REPORT,NaN,2016-10-20,LOST REPORT,2016-11-02,NaN,UNABLE TO SCAN,Dallas

In [20]:
#Investigate Sonoma Dataset
df_Sonoma.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,NaN,CAT,DOMESTIC SH,BLACK,Male,KITTN,NaT,K17-026134,FREEZER,A363799,...,FIELD,EUTHANIZE,INJ SEVERE,UNTREATABLE,UNTREATABLE,COUNTY,NaN,NaN,NaN,1
1,SUGAR,DOG,LABRADOR RETR,YELLOW,Neutered,LARGE,2008-09-24,K17-022441,DS75,A228255,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_WEB,HEALTHY,HEALTHY,COUNTY,COUNTY,95404.0,"95404(38.458384, -122.675588)",1
2,MIMS,CAT,DOMESTIC SH,CALICO,Spayed,KITTN,2017-10-13,K17-026771,LOBBY,A366380,...,OVER THE COUNTER,ADOPTION,WALKIN,HEALTHY,HEALTHY,COUNTY,SANTA ROSA,95401.0,"95401(38.446019, -122.766748)",1
3,*MILLIE,DOG,CHIHUAHUA SH,BLUE/TAN,Spayed,TOY,2009-03-29,K17-022804,DA05,A349551,...,OVER THE COUNTER,ADOPTION,SCAS WEB,TREATABLE/REHAB,HEALTHY,SANTA ROSA,OUT OF COUNTY,94591.0,"94591(38.107585, -122.209634)",1
4,SAM,DOG,LABRADOR RETR,YELLOW,Male,LARGE,2007-11-01,K14-007704,DS66,A211734,...,FIELD,RETURN TO OWNER,RETURN TO OWNER,HEALTHY,HEALTHY,SANTA ROSA,*CLOVERDALE,95425.0,"95425(38.790859, -123.010876)",1

In [21]:
df_Sonoma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16344 entries, 0 to 16343
Data columns (total 24 columns):
Name                    12235 non-null object
Type                    16344 non-null object
Breed                   16344 non-null object
Color                   16344 non-null object
Sex                     16344 non-null object
Size                    16315 non-null object
Date Of Birth           12547 non-null datetime64[ns]
Impound Number          16344 non-null object
Kennel Number           16335 non-null object
Animal ID               16344 non-null object
Intake Date             16344 non-null datetime64[ns]
Outcome Date            16230 non-null datetime64[ns]
Days in Shelter         16344 non-null int64
Intake Type             16344 non-null object
Intake Subtype          16344 non-null object
Outcome Type            16227 non-null object
Outcome Subtype         16128 non-null object
Intake Condition        16344 non-null object
Outcome Condition       16149 non-null object
Intake Jurisdiction     16344 non-null object
Outcome Jurisdiction    13980 non-null object
Outcome Zip Code        13939 non-null float64
Location                13939 non-null object
Count                   16344 non-null int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(18)
memory usage: 3.0+ MB

In [22]:
#remove unnecessary columns and add location column
df_Sonoma = df_Sonoma.drop(columns = ['Name', 'Size', 'Impound Number', 'Kennel Number',
                                     'Animal ID', 'Days in Shelter', 'Intake Condition',
                                     'Outcome Subtype', 'Intake Jurisdiction',
                                     'Outcome Jurisdiction', 'Outcome Zip Code',
                                     'Location', 'Count'])
df_Sonoma['Location'] = 'Sonoma'

In [23]:
#rename column
df_Sonoma.columns = ['Animal_Type', 'Breed', 'Color', 'Sex', 'DOB', 'Intake_Date','Outcome_Date',
                     'Intake_Type', 'Intake_Subtype', 'Outcome_Type', 'Health', 'Location']

In [24]:
#Verify no unique column names across multiple dataset
print(df_Austin.columns)
print(df_Louisville.columns) 
print(df_Dallas.columns)
print(df_Sonoma.columns)

Index(['Outcome_Date', 'DOB', 'Outcome_Type', 'Animal_Type', 'Sex', 'Breed',
       'Color', 'Location'],
      dtype='object')
Index(['Animal_Type', 'Intake_Date', 'Intake_Type', 'Intake_Subtype', 'Breed',
       'Sex', 'DOB', 'Intake_Status', 'Outcome_Date', 'Outcome_Type', 'Health',
       'Location', 'Color'],
      dtype='object')
Index(['Animal_Type', 'Breed', 'Intake_Type', 'Intake_Subtype', 'Intake_Date',
       'Outcome_Type', 'Outcome_Date', 'Health', 'Chip_Status', 'Location'],
      dtype='object')
Index(['Animal_Type', 'Breed', 'Color', 'Sex', 'DOB', 'Intake_Date',
       'Outcome_Date', 'Intake_Type', 'Intake_Subtype', 'Outcome_Type',
       'Health', 'Location'],
      dtype='object')

In [25]:
#merge_dataFrames
merge_data = pd.concat([df_Austin, df_Louisville, df_Dallas, df_Sonoma], ignore_index = True).reset_index()

C:\Users\sadmin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

<a id='Clean'></a>

## 1b. Cleaning the Dataset

In [26]:
#for simplicity lets only investigate dogs
merge_data = merge_data.loc[merge_data.loc[:, 'Animal_Type'].isin(['Dog', 'DOG'])]
merge_data = merge_data.drop(columns = 'Animal_Type')

In [27]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167480 entries, 4 to 298446
Data columns (total 14 columns):
index             167480 non-null int64
Breed             167480 non-null object
Chip_Status       26043 non-null object
Color             141423 non-null object
DOB               116594 non-null datetime64[ns]
Health            111238 non-null object
Intake_Date       112412 non-null datetime64[ns]
Intake_Status     77145 non-null object
Intake_Subtype    108173 non-null object
Intake_Type       112412 non-null object
Location          167480 non-null object
Outcome_Date      167088 non-null datetime64[ns]
Outcome_Type      167154 non-null object
Sex               141435 non-null object
dtypes: datetime64[ns](3), int64(1), object(10)
memory usage: 19.2+ MB

In [28]:
#remove all the unknowns in the target feature
merge_data = merge_data.dropna(subset = ['Outcome_Type'])

In [29]:
#capitalized all columns to reduce data cleaning process
merge_data = merge_data.applymap(lambda s:s.capitalize() if type(s) == str else s)

In [30]:
#look at distinct category from Health
merge_data['Health'].unique()

array([nan, 'Healthy', 'Unhealthy/untreatable', 'Treatable/manageable',
       'Treatable rehabilitable non-contagious',
       'Unhealthy untreatable non-contagious',
       'Treatable manageable non-contagious',
       'Treatable manageable contagious',
       'Treatable rehabilitable contagious',
       'Unhealthy untreatable contagious', 'Untreatable',
       'Treatable/rehab', 'Pending', 'Dead'], dtype=object)

In [31]:
#feature engineering of Health
merge_data = merge_data.replace({'Health': ['Treatable/manageable', 'Treatable rehabilitable non-contagious', 
                                                       'Treatable manageable non-contagious',
                                                        'Treatable/rehab']}, "Treatable" )

merge_data = merge_data.replace({'Health': ['Treatable manageable contagious', 'Treatable rehabilitable contagious']
                                }, "Contagious Treatable" )


merge_data = merge_data.replace({'Health': ['Unhealthy/untreatable', 'Unhealthy untreatable non-contagious', 
                                                       'Unhealthy untreatable contagious', 'Untreatable']}, "Untreatable" )

merge_data = merge_data.replace({'Health': ['Pending']}, 'Unknown')

In [32]:
#validate Healthcategories
merge_data.Health.unique()

array([nan, 'Healthy', 'Untreatable', 'Treatable', 'Contagious Treatable',
       'Unknown', 'Dead'], dtype=object)

In [33]:
#look at distinct category from Outcome Type
merge_data['Outcome_Type'].unique()

array(['Adoption', 'Return to owner', 'Transfer', 'Rto-adopt',
       'Euthanasia', 'Died', 'Missing', 'Disposal', 'Euth', 'Rto',
       'Relocate', 'Foster', 'Released', 'Transport', 'No show',
       'Et process', 'Release', 'Rtf', 'Indefinite', 'Missing ex',
       'Lost report', 'Returned to owner', 'Euthanized',
       'Dead on arrival', 'Other', 'Found report', 'Euthanize',
       'Escaped/stolen'], dtype=object)

In [34]:
#feature engineering of Outcome Type
merge_data = merge_data.replace({'Outcome_Type': ['Return to owner', 'Rto-adopt', 'Returned to owner', 'Rtf',
                                                  'Found report']}, 'Rto')

merge_data = merge_data.replace({'Outcome_Type': ['Euthanasia', 'Euthanize', 'Euthanized']}, 'Euth')

merge_data = merge_data.replace({'Outcome_Type': ['Transfer', 'Relocate', 'Transport']}, 'Transfer')

merge_data = merge_data.replace({'Outcome_Type': ['Missing', 'Missing ex', 'Escape', 'stolen', 'Lost report',
                                                 'No show', 'Release', 'Released', 'Escaped/stolen', 'Et process', 
                                                  'Indefinite']}, 'Other')

merge_data = merge_data.replace({'Outcome_Type': ['Disposal', 'Dead on arrival']}, 'Died')

merge_data = merge_data.replace({'Outcome_Type': ['Foster', 'Adoption']}, 'Adoption/Foster')

In [35]:
#validate Outcome type category
merge_data.Outcome_Type.unique()

array(['Adoption/Foster', 'Rto', 'Transfer', 'Euth', 'Died', 'Other'],
      dtype=object)

In [36]:
#look at distinct category from Intake Type
merge_data['Intake_Type'].unique()

array([nan, 'Owner sur', 'Stray', 'Confiscate', 'Return', 'Khs',
       'Euth req', 'Quarantine', 'Et request', 'Outsurgery', 'Disposal',
       'Investigat', 'Transfer', 'Foster', 'Evacuee', 'Lost',
       'Med observ', 'For transp', 'Found', 'Confiscated', 'Lost report',
       'Owner surrender', 'Found report', 'Adoption return'], dtype=object)

In [37]:
#feature engineering of Intake Type
merge_data = merge_data.replace({'Intake_Type': 'Confiscate'}, 'Confiscated')

merge_data = merge_data.replace({'Intake_Type': 'Found'}, 'Found report')

merge_data = merge_data.replace({'Intake_Type': 'Lost'}, 'Found report')

merge_data = merge_data.replace({'Intake_Type': 'Owner sur'}, 'Owner surrender')

merge_data = merge_data.replace({'Intake_Type': 'Adoption return'}, 'return')

In [38]:
#validate category in Intake Type
merge_data.Intake_Type.unique()

array([nan, 'Owner surrender', 'Stray', 'Confiscated', 'Return', 'Khs',
       'Euth req', 'Quarantine', 'Et request', 'Outsurgery', 'Disposal',
       'Investigat', 'Transfer', 'Foster', 'Evacuee', 'Found report',
       'Med observ', 'For transp', 'Lost report', 'return'], dtype=object)

In [39]:
#look at distinct category from Sex
merge_data['Sex'].unique()

array(['Spayed female', 'Intact female', 'Intact male', 'Neutered male',
       'Unknown', nan, 'Male', 'Female', 'Litter', 'Neutered', 'Spayed'],
      dtype=object)

In [40]:
#feature engineering of Sex
merge_data = merge_data.replace({'Sex': 'Spayed'}, 'Spayed female')

merge_data = merge_data.replace({'Sex': 'Neutered'}, 'Neutered male')

merge_data = merge_data.replace({'Sex': 'Intact female'}, 'Female')

merge_data = merge_data.replace({'Sex': 'Intact male'}, 'Male')

merge_data = merge_data.replace({'Sex': 'Litter'}, 'Unknown')

In [41]:
#validate category in sex
merge_data['Sex'].unique()

array(['Spayed female', 'Female', 'Male', 'Neutered male', 'Unknown', nan],
      dtype=object)

In [42]:
#look at chip status
merge_data['Chip_Status'].unique()

array([nan, 'Scan no chip', 'Unable to scan', 'Scan chip'], dtype=object)

In [43]:
#feature engineering of Intake Status
merge_data = merge_data.replace({'Chip_Status': ['Scan no chip', 'Unable to scan']}, 'No chip/un-scanable')

In [44]:
#validate category in chip status
merge_data['Chip_Status'].unique()

array([nan, 'No chip/un-scanable', 'Scan chip'], dtype=object)

In [45]:
#look at intake status
merge_data.Intake_Status.unique()

array([nan, 'Normal', 'Fearful', 'Injured', 'Sick', 'Aged', 'Dead',
       'Aggressive', 'Nursing', 'Feral', 'Pregnant', 'Emaciated', 'Other',
       'Parvo', 'Obese', 'Teritorial', 'Agg people', 'Agg barrie',
       'Agg animal', 'Ringworm', 'Diarrhea', 'Heartworm', 'Agg fear',
       'Agg food', 'Dehydra'], dtype=object)

In [46]:
#feature engineer intake status
merge_data = merge_data.replace({'Intake_Status': ['Heartworm', 'Ringworm']}, 'Sick')

In [47]:
#validate intake status
merge_data.Intake_Status.unique()

array([nan, 'Normal', 'Fearful', 'Injured', 'Sick', 'Aged', 'Dead',
       'Aggressive', 'Nursing', 'Feral', 'Pregnant', 'Emaciated', 'Other',
       'Parvo', 'Obese', 'Teritorial', 'Agg people', 'Agg barrie',
       'Agg animal', 'Diarrhea', 'Agg fear', 'Agg food', 'Dehydra'],
      dtype=object)

In [48]:
#look at intake subtype
merge_data.Intake_Subtype.unique()

array([nan, 'Otc', 'Field', 'Neglect', 'Stray', 'Cruelty', 'Otc owned',
       'Mas', 'Abandoned', 'Sick', 'Field own', 'Unpermited', 'Chaining',
       'Bite', 'Aggressive', 'Potdanger', 'Euth req', 'Owner', 'Police',
       'Adoption', 'K humane s', 'An control', 'Night', 'Return', 'Other',
       ' ', 'Danger dog', 'Old', 'Restraint', 'Owner died', 'Hospital',
       'Web', 'Eviction', 'Owner sur', 'Return 30', 'Neuter', 'Post surg',
       'Court ord', 'Rescue grp', 'Keep safe', 'At large', 'Quarantine',
       'Return30', 'General', 'Possibly owned', '#name?', 'Confined',
       'Euthanasia requested', 'Quarantine - dead on arrival',
       'Dangerous', 'Trap neuter return', 'Cruelt - dead on arrival',
       'Keep safe - dead on arrival', 'Trap program', 'Spca texas',
       'Danger - dead on arrival', 'Over the counter', 'Fld_evict',
       'Fld_hosptl', 'Fld_stray', 'Vet_hosp', 'Fld_arrest', 'Fld_livstk',
       'Fld_coronr', 'Priv_shelt', 'Mun_shelt', 'Fld_cruel',
       'Field_return to owner', 'Field_os', 'Born_here', 'Rescue_grp',
       'Over the counter_arrest', 'Phone',
       'Over the counter_return to owner', 'Over the counter_os',
       'Over the counter_evict', 'Over the counter_coronr',
       'Over the counter_stray'], dtype=object)

In [49]:
merge_data = merge_data.replace({'Intake_Subtype': ['Over the counter_stray', 'Fld_stray']}, 'Stray')

merge_data = merge_data.replace({'Intake_Subtype': ['Over the counter_return to owner', 'Field_return to owner']}, 'RTO')

merge_data = merge_data.replace({'Intake_Subtype': [' ', '#name?']}, 'Unknown')

merge_data = merge_data.replace({'Intake_Subtype': ['Over the counter']}, 'Otc')

merge_data = merge_data.replace({'Intake_Subtype': ['Danger - dead on arrival', 'Keep safe - dead on arrival', 
                                                    'Quarantine - dead on arrival', 'Cruelt - dead on arrival']}, 'Dead')

merge_data = merge_data.replace({'Intake_Subtype': ['Fld_evict', 'Over the counter_evict']}, 'Eviction')

merge_data = merge_data.replace({'Intake_Subtype': ['Euthanasia requested']}, 'Euth req')


merge_data = merge_data.replace({'Intake_Subtype': ['Fld_hosptl', 'vet_hosp', 'Vet_hosp']}, 'Hospital')

merge_data = merge_data.replace({'Intake_Subtype': ['Fld_arrest', 'Over the counter_arrest']}, 'Arrest')

merge_data = merge_data.replace({'Intake_Subtype': ['Fld_coronr', 'Over the counter_coronr']}, 'coronr')

merge_data = merge_data.replace({'Intake_Subtype': ['Return 30', 'Return30']}, 'Return')

merge_data = merge_data.replace({'Intake_Subtype': ['Field_os', 'Over the counter_os']}, 'os')

merge_data = merge_data.replace({'Intake_Subtype': ['Priv_shelt', 'Mun_shelt']}, 'Shelt')

merge_data = merge_data.replace({'Intake_Subtype': ['Rescue grp']}, 'Rescue_grp')

merge_data = merge_data.replace({'Intake_Subtype': ['Fld_cruel']}, 'Cruelty')

In [50]:
def neuter_spay(string):
    """classify neuter and spay dog into a new feature"""
    if string == 'Spayed female' or string == 'Neutered male':
        return 'Yes'
    elif string == 'Unknown':
        return 'Unknown'
    else:
        return 'No'

merge_data['Neutered/Spay'] = merge_data['Sex'].apply(neuter_spay)
    
merge_data = merge_data.replace({'Sex': 'Spayed female'}, 'Female')
merge_data = merge_data.replace({'Sex': 'Neutered male'}, 'Male')

In [51]:
#lowercase all breed and color columns
merge_data['Breed'] = merge_data['Breed'].apply(lambda x: str(x).lower())
merge_data['Color'] = merge_data['Color'].apply(lambda x: str(x).lower())

In [52]:
#look at distinct category from Breed
breed = []
for i, row in merge_data.iterrows():
    if '/' in row['Breed']:
        splits = row['Breed'].split('/')
        if splits[0] not in breed: 
            breed.append(splits[0])
        if splits[1] not in breed:
            breed.append(splits[1])
    else:
        if row['Breed'] not in breed:
            breed.append(row['Breed'])
print(breed)
print(len(breed))

['golden retriever mix', 'cairn terrier mix', 'dachshund mix', 'pointer', 'boxer mix', 'chihuahua shorthair mix', 'labrador retriever mix', 'queensland heeler mix', 'miniature schnauzer mix', 'collie rough mix', 'dachshund longhair', 'chihuahua longhair', 'alaskan husky', 'german shepherd', 'border terrier', 'welsh terrier', 'australian cattle dog mix', 'pit bull mix', 'catahoula', 'labrador retriever', 'italian greyhound', 'scottish terrier mix', 'dutch shepherd mix', 'alaskan husky mix', 'great pyrenees', 'border collie mix', 'catahoula mix', 'maltese', 'yorkshire terrier', 'bichon frise mix', 'mastiff mix', 'shih tzu mix', 'blue lacy mix', 'rottweiler', 'american bulldog mix', 'boxer', 'staffordshire mix', 'havanese mix', 'airedale terrier', 'siberian husky mix', 'siberian husky', 'german shepherd mix', 'basset hound mix', 'border collie', 'pit bull', 'chow chow', 'american bulldog', 'boston terrier', 'australian cattle dog', 'australian shepherd mix', 'black', 'tan hound', 'rat terrier mix', 'chinese sharpei', 'cane corso', 'doberman pinsch mix', 'australian kelpie', 'beagle', 'great dane', 'english bulldog mix', 'rottweiler mix', 'chihuahua shorthair', 'dachshund', 'bloodhound', 'american staffordshire terrier mix', 'belgian malinois mix', 'miniature poodle', 'shih tzu', 'papillon mix', 'standard schnauzer mix', 'staffordshire', 'rat terrier', 'great pyrenees mix', 'basset hound', 'pug', 'bull terrier mix', 'toy poodle', 'standard poodle', 'golden retriever', 'miniature pinscher mix', 'plott hound mix', 'american foxhound mix', 'lhasa apso mix', 'american pit bull terrier', 'alaskan malamute mix', 'chihuahua longhair mix', 'beagle mix', 'english setter mix', 'yorkshire terrier mix', 'cairn terrier', 'lhasa apso', 'pomeranian', 'flat coat retriever', 'harrier mix', 'whippet', 'mastiff', 'basenji', 'brittany', 'airedale terrier mix', 'american staffordshire terrier', 'boston terrier mix', 'alaskan malamute', 'akita mix', 'jack russell terrier', 'cardigan welsh corgi', 'border terrier mix', 'toy poodle mix', 'miniature schnauzer', 'australian shepherd', 'miniature poodle mix', 'irish wolfhound mix', 'australian kelpie mix', 'dachshund wirehair', 'bernese mountain dog', 'canaan dog mix', 'irish terrier', 'treeing walker coonhound mix', 'cardigan welsh corgi mix', 'american pit bull terrier mix', 'german shorthair pointer', 'tan hound mix', 'tibetan mastiff mix', 'bruss griffon mix', 'basenji mix', 'collie smooth mix', 'bulldog', 'finnish spitz mix', 'anatol shepherd', 'pointer mix', 'st. bernard smooth coat', 'pembroke welsh corgi', 'weimaraner mix', 'jack russell terrier mix', 'miniature pinscher', 'manchester terrier mix', 'german shorthair pointer mix', 'st. bernard rough coat', 'norfolk terrier mix', 'redbone hound mix', 'chinese sharpei mix', 'bullmastiff mix', 'rhod ridgeback mix', 'bluetick hound mix', 'chow chow mix', 'dachshund wirehair mix', 'black mouth cur mix', 'soft coated wheaten terrier mix', 'pekingese mix', 'pomeranian mix', 'whippet mix', 'irish setter', 'glen of imaal mix', 'clumber spaniel mix', 'dachshund longhair mix', 'bull terrier', 'weimaraner', 'cocker spaniel', 'dutch shepherd', 'pug mix', 'anatol shepherd mix', 'plott hound', 'maltese mix', 'english bulldog', 'newfoundland mix', 'norwich terrier mix', 'chesa bay retr', 'norfolk terrier', 'swedish vallhund', 'nova scotia duck tolling retriever mix', 'brittany mix', 'standard schnauzer', 'schnauzer giant', 'pbgv mix', 'carolina dog', 'pekingese', 'smooth fox terrier mix', 'schipperke mix', 'bullmastiff', 'norwich terrier', 'bichon frise', 'greyhound', 'schnauzer giant mix', 'shetland sheepdog mix', 'collie smooth', 'manchester terrier', 'pembroke welsh corgi mix', 'bulldog mix', 'akita', 'bruss griffon', 'collie rough', 'cocker spaniel mix', 'tibetan spaniel mix', 'great dane mix', 'doberman pinsch', 'welsh terrier mix', 'west highland', 'patterdale terr', 'cavalier span', 'black mouth cur', 'redbone hound', 'scottish terrier', 'carolina dog mix', 'st. bernard smooth coat mix', 'st. bernard rough coat mix', 'rhod ridgeback', 'bluetick hound', 'irish wolfhound', 'old english sheepdog mix', 'shiba inu', 'shiba inu mix', 'treeing walker coonhound', 'chesa bay retr mix', 'wire hair fox terrier', 'flat coat retriever mix', 'vizsla', 'vizsla mix', 'american eskimo', 'mexican hairless', 'leonberger mix', 'standard poodle mix', 'samoyed', 'australian terrier mix', 'queensland heeler', 'papillon', 'west highland mix', 'belgian malinois', 'pharaoh hound mix', 'shetland sheepdog', 'boykin span mix', 'japanese chin mix', 'french bulldog', 'american foxhound', 'otterhound', 'toy fox terrier', 'toy fox terrier mix', 'silky terrier', 'landseer', 'english setter', 'bull terrier miniature', 'bull terrier miniature mix', 'landseer mix', 'english springer spaniel mix', 'greyhound mix', 'american eskimo mix', 'chinese crested', 'bernese mountain dog mix', 'bloodhound mix', 'dogo argentino mix', 'english pointer mix', 'german wirehaired pointer mix', 'finnish spitz', 'french bulldog mix', 'old english bulldog mix', 'cavalier span mix', 'wirehaired pointing griffon mix', 'wire hair fox terrier mix', 'soft coated wheaten terrier', 'english coonhound mix', 'irish terrier mix', 'pbgv', 'english coonhound', 'field spaniel mix', 'dalmatian mix', 'dalmatian', 'feist mix', 'swedish vallhund mix', 'smooth fox terrier', 'schipperke', 'cane corso mix', 'blue lacy', 'jindo mix', 'english shepherd mix', 'skye terrier mix', 'neapolitan mastiff mix', 'parson russell terrier', 'italian greyhound mix', 'unknown', 'lakeland terrier mix', 'keeshond mix', 'dandie dinmont mix', 'english pointer', 'unknown mix', 'presa canario mix', 'australian terrier', 'affenpinscher', 'treeing tennesse brindle mix', 'chinese crested mix', 'dogue de bordeaux', 'beauceron mix', 'dandie dinmont', 'belgian sheepdog mix', 'german wirehaired pointer', 'bearded collie mix', 'canaan dog', 'welsh springer spaniel mix', 'parson russell terrier mix', 'dogue de bordeaux mix', 'english shepherd', 'nova scotia duck tolling retriever', 'akbash mix', 'silky terrier mix', 'keeshond', 'mexican hairless mix', 'patterdale terr mix', 'havanese', 'tibetan spaniel', 'tibetan terrier mix', 'english foxhound mix', 'pharaoh hound', 'ibizan hound', 'harrier', 'spinone italiano mix', 'kuvasz mix', 'coton de tulear mix', 'jindo', 'afghan hound', 'welsh springer spaniel', 'treeing cur mix', 'kuvasz', 'old english bulldog', 'saluki mix', 'bouv flandres', 'samoyed mix', 'sussex span mix', 'treeing cur', 'field spaniel', 'dogo argentino', 'tibetan terrier', 'english foxhound', 'greater swiss mountain dog mix', 'english springer spaniel', 'picardy sheepdog mix', 'bedlington terr mix', 'otterhound mix', 'ibizan hound mix', 'saluki', 'neapolitan mastiff', 'feist', 'irish setter mix', 'grand basset griffon vendeen mix', 'lowchen', 'boerboel mix', 'gordon setter mix', 'hovawart', 'affenpinscher mix', 'english cocker spaniel mix', 'belgian tervuren', 'german pinscher mix', 'bearded collie', 'presa canario', 'boykin span', 'kangal', 'japanese chin', 'leonberger', 'treeing tennesse brindle', 'norwegian elkhound mix', 'lowchen mix', 'podengo pequeno mix', 'old english sheepdog', 'skye terrier', 'boerboel', 'beauceron', 'glen of imaal', 'newfoundland', 'dachshund stan mix', 'spanish mastiff mix', 'english cocker spaniel', 'port water dog mix', 'borzoi', 'belgian sheepdog', 'sealyham terr mix', 'swiss hound', 'greater swiss mountain dog', 'belgian tervuren mix', 'spanish water dog', 'german pinscher', 'cirneco', 'yorkshire', 'picardy sheepdog', 'coton de tulear', 'afghan hound mix', 'eng toy spaniel mix', 'entlebucher mix', 'hovawart mix', 'pit bull terrier', 'mix', 'parson (jack) russell terrier', 'bernese hound', 'black and tan coonound', 'german shepherd dog', 'poodle - miniature', 'st bernard - smooth coated', 'fox terrier - wirehaired', 'doberman pinscher', 'wire-haired pointing griffon', 'dachshund - longhaired', 'st bernard - rough coated', 'bouvier des flandres', 'staffordshire bull terrier', 'west highland white terrier', 'welsh corgi - pembroke', 'schnauzer - miniature', 'german shorthaired pointer', 'collie - smooth', 'jack russ ter', 'fox terrier - smooth', 'chihuahua - smooth coated', 'collie - rough', 'poodle - standard', 'schnauzer - standard', 'chinese crested dog', 'pure bred', 'chihuahua - long haired', 'schnauzer - giant', 'poodle - toy', 'welsh corgi - cardigan', 'flat-coated retriever', 'soft-coated wheaten terrier', 'rhodesian ridgeback', 'korean jindo', 'redbone coonhound', 'petit basset griffon vendeen', 'wolf hybrid', 'english coonhound (redtick coonhound)', 'brussels griffon', 'chesapeake bay retriever', 'bluetick coonhound', 'catahoula leopard hound', 'dandie dinmont terrier', 'dachshund - wirehaired', 'bull terrier - miniature', 'cocker-poo', 'gordon setter', 'patterdale terrier', 'norwegian elkhound', 'cavalier king charles spaniel', 'portuguese water dog', 'lakeland terrier', 'anatolian shepherd', 'ocherese', 'karelian bear dog', 'briard', 'bedlington terrier', 'wolf', 'english toy spaniel', 'clumber spaniel', 'polish lowland sheepdog', 'spinone italiano', 'tennesee treeing brindle hound', 'boykin spaniel', 'nova scotia duck-tolling retriever', 'sussex spaniel', 'alaskan klee kai', 'pekapoo', 'coonhound', 'norwegian buhund', 'glen of imaal terrier', 'hound', 'puli', 'fila brasileiro', 'tibetan mastiff', 'terrier', 'cocker amer', 'scottish deerhound', 'podengo portugueso pequeno', 'great pyreneese', 'munsterlander', 'germ shepherd', 'labrador retr', 'yorkshire terr', 'chihuahua lh', 'chihuahua sh', 'poodle stnd', 'min pinscher', 'cocker span', 'am pit bull ter', 'st bernard rgh', 'welsh corgi car', 'parson russ ter', 'american staff', 'flat coat retr', 'aust cattle dog', 'belg malinois', 'poodle min', 'fox terr wire', 'aust shepherd', 'schnauzer stand', 'eng coonhound', 'schnauzer min', 'alask malamute', 'amer foxhound', 'golden retr', 'eng bulldog', 'tr walker hound', 'eng shepherd', 'eng foxhound', 'eng pointer', 'scot terrier', 'welsh corgi pem', 'germ sh point', 'amer bulldog', 'amer eskimo', 'dachshund lh', 'belg laekenois', 'aust kelpie', 'manchester terr', 'gr swiss mtn', 'tibetan terr', 'picardy sheepdg', 'polish lowland', 'sc wheat terr', 'ital greyhound', 'poodle toy', 'dogue de bordx', 'queensland heel', 'tibetan span', 'fox terr smooth', 'clumber span', 'st bernard smth', 'dachshund wh', 'alask klee kai', 'old eng bulldog', 'lakeland terr', 'germ wh point', 'shetld sheepdog', 'airedale terr', 'ns duck tolling', 'bernese mtn dog', 'swed vallhund', 'oldeng sheepdog', 'tenn tr brindle', 'shepherd mix', 'eng cocker span', 'shepherd', 'dutch sheepdog', 'welsh spr span', 'pitbull', 'bull terr min', 'entlebucher', 'port water dog', 'eng sprngr span', 'tosa', 'aust terrier', 'maremma sheepdg', 'eng toy spaniel', 'mixed', 'eng setter', 'terrier mix', 'curlycoat retr', 'pumi', 'kerry blue terr', 'norw buhund', 'pit bull & mix', 'podengo pequeno', 'norw elkhound', 'spanish mastiff', 'scot deerhound', 'akbash', 'belg tervuren', 'border collie x', 'belg sheepdog', 'belgian malinoi', 'rhodesian ridge', 'chihuahua & mix', 'pitt bull & lab', 'komondor', 'wh pt griffon', 'labrador & gold']
568

In [53]:
merge_data.Breed.nunique()

4635

In [54]:
#import breed groups (the dog breed csv was modified according to google and some missing breeds)
breed_type = pd.read_csv('../Data/Raw/Dog_Breed_By_Group.csv', encoding='iso-8859-1').to_dict('list')

#normalized category (lowercase)
for key, values in breed_type.items():
    dummy = []
    for value in values:
        if type(value) == str:
            dummy.append(value.lower())
        breed_type[key] = dummy

In [55]:
#feature engineer Breed column
merge_data['Breed'] = merge_data['Breed'].replace('\-\s', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\-', ' ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sdog', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\s\([\w\s]+\)', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('amer\s', 'american ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\samer$', ' american', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\samer\/', ' american/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\slh', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\slong[a-z]+', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\slong haired', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sspan$', ' spaniel', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sspan\/', ' spaniel/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sspan\s', ' spaniel ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('bel[a-z]+', 'belgian', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\ssmooth co[a-z]+', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\ssmooth', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('eng\s', 'english ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sterr$', ' terrier', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sterr\/', ' terrier/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sterr\s', ' terrier ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('norw\s', 'norwegian ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('aust\s', 'australian ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('germ\s', 'german ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('retr$', 'retriever', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('retr\s', 'retriever ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('retr\/', 'retriever/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\srough co[a-z]+', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\srough', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sshorthair mix', ' mix', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sshorthair$', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sshorthair\/', '/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('shortha[a-z]+', 'shorthaired', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('min$', 'miniature', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('min\/', 'miniature/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\/min ', '/miniature ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('^min ', 'miniature ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('sheepdg', 'sheepdog', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\spem$', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\spem\/', '/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('^stan[a-z]*\s', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\/stan[a-z]*\s', '/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sstan[a-z]*', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace(' stan', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('mtn', 'mountain', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('scot\s', 'scottish ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('bruss\s', 'brussels ', regex = True)
merge_data['Breed'] = merge_data['Breed'].replace('mixed', 'mix', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('ns duck tolling', 'nova scotia duck tolling retriever', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('bordx', 'bordeaux', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace(' russ ', ' russell ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace(' stnd', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\swireha[a-z]+', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\swire ha[a-z]+', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('wire ha[a-z]+\s', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\swire\s', ' ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\swire\/', '/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\swire$', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\spembroke', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('pembroke\s', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\ster$', ' terrier', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\ster\/', ' terrier/', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('pitt bull & lab', 'mix', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('labrador & gold', 'sporting mix', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\s& mix', ' mix', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\srgh', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\ssmth', '', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\scorgi ca[a-z]+', ' corgi', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('black\/tan', 'black & tan', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('oldenglish', 'old english', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('coonound', 'coonhound', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('(\w+\s)+coonhound', 'coonhound', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('(\w+\s)*pit\sbull(\sterrier)*', 'pitbull', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('coonound', 'coonhound', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('alask\s', 'alaskan ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('chesa\s', 'chesapeake ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('bouv\s', 'bouvier des ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('\sspr\s', ' springer ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('curlycoat\s', 'curly coated ', regex=True)
merge_data['Breed'] = merge_data['Breed'].replace('swed\s', 'swedish ', regex=True)

In [56]:
herding = ['english shepherd', 'dutch sheepdog', 'australian kelpie', 'shetld sheepdog',
           'polish lowland', 'maremma sheepdog', 'entlebucher', 'shepherd',
           'belgian malinoi', 'picardy sheepdog', 'hovawart', 'bernese hound',  'welsh corgi',
           'border collie x',  'kangal',  'treeing cur',  'black mouth cur']

hound = ['bluetick hound', 'plott hound', 'podengo pequeno', 'podengo portugueso pequeno',
         'rhod ridgeback', 'dachshund wh', 'redbone hound', 'black & tan hound',
         'coonhound', 'treeing tennesse brindle', 'tennesee treeing brindle hound', 
         'carolina','korean jindo', 'tenn tr brindle', 'swiss hound', 'tr walker hound', 'jindo',
        'finnish spitz', 'catahoula leopard hound',  'rhodesian ridge',  'cirneco']
           
toy = ['chihuahua sh', 'ital greyhound', 'miniature poodle',
       'poodle toy', 'toy poodle', 'poodle miniature', 'cavalier spaniel',
       'schnauzer miniature', 'miniature schnauzer', 'bull terrier miniature', 
       'pekapoo', 'pbgv', 'cocker poo',  'ocherese']
           
nonsporting = ['american bulldog', 'english bulldog', 'american eskimo', 
               'old english bulldog', 'mexican hairless']

sporting = ['flat coat retriever', 'german sh point', 'german wh point',
            'english pointer', 'english sprngr spaniel', 'pointing griffon',
            'german pointer', 'cocker american',  'karelian bear',
            'english sprngr spaniel',  'wh pt griffon']
           
terrier = ['american staff', 'staffordshire', 'jack russell', 'jack russell terrier',
            'patterdale terrier', 'jack', 'west highland', 'glen of imaal',
          'dandie dinmont', 'fox terrier',  'yorkshire',  'sc wheat terrier']
           
working = ['alaskan husky', 'st bernard', 'catahoula', 'alaskan klee kai',
           'anatol shepherd', 'schnauzer giant', 'alask malamute', 'schnauzer',
           'doberman pinsch', 'port water', 'blue lacy', 'gr swiss mountain', 
            'great pyreneese', 'spanish mastiff', 'fila brasileiro',  'presa canario']
           
miscellaneous = ['munsterlander', 'chinese sharpei', 'queensland heel', 'akbash', 
                 'wolf hybrid', 'tosa', 'landseer', 'queensland heeler', 'unknown',
                 'feist', 'pitbull', 'wolf']

breed_type['herding'].extend(herding)
breed_type['hound'].extend(hound)
breed_type['toy'].extend(toy)
breed_type['non-sporting'].extend(nonsporting)
breed_type['sporting'].extend(sporting)
breed_type['terrier'].extend(terrier)
breed_type['working'].extend(working)
breed_type['miscellaneous'].extend(miscellaneous)

In [57]:
#categorized breed into groups
def DogGrouping1(x):
    """categorize breed into dog groups starting by classifying mix breeds"""
    if '/' in x:
        breedmix = x.split('/')
        for ind, dogbreed in enumerate(breedmix):
            for group, breed in breed_type.items():
                if dogbreed in breed:
                    breedmix[ind] = group
                    break
        if breedmix[0] == breedmix[1] or breedmix[1] =='mix':
            return breedmix[0] + ' mix'
        elif breedmix[1] == 'pure bred':
            return breedmix[0]
        else:
            return 'mix'
    elif ' mix' == x[-4:]:
        for group, breed in breed_type.items():
            if x[:-4] in breed:
                return group + ' mix'
            else:
                pass
        return x
    else:
        return x
        
merge_data['Breed'] = merge_data['Breed'].apply(DogGrouping1)

In [58]:
#classifying mix dogs of the same breed
def DogGrouping2(x):
    for group, breed in breed_type.items():
        if x in breed:
            return group
        else:
            pass
    return x
merge_data['Breed'] = merge_data['Breed'].apply(DogGrouping2)

In [59]:
#validate category of Breed feature
merge_data.Breed.unique()

array(['sporting mix', 'terrier mix', 'hound mix', 'sporting',
       'working mix', 'toy mix', 'miscellaneous mix', 'herding mix',
       'mix', 'working', 'non-sporting mix', 'non-sporting',
       'miscellaneous', 'herding', 'hound', 'toy', 'terrier'],
      dtype=object)

In [60]:
#classifying breed purity
def pure_mix(x):
    if 'mix' in x:
        return 'mix'
    else:
        return 'pure'
merge_data['Pure/Mix'] = merge_data['Breed'].apply(pure_mix)

In [61]:
merge_data['Breed'] = merge_data['Breed'].replace(' mix', '', regex = True)

In [62]:
#determined distinct colors in color feature
merge_data['Color'] = merge_data['Color'].astype(str)
color = []
for i, row in merge_data.iterrows():
    if '/' in row['Color']:
        splits = row['Color'].split('/')
        if splits[0] not in color: 
            color.append(splits[0])
        if splits[1] not in color:
            color.append(splits[1])
    else:
        if row['Color'] not in color:
            color.append(row['Color'])
print(color)

['cream', 'white', 'blue merle', 'black', 'brown', 'tan', 'red tick', 'tricolor', 'red', 'blue tick', 'brown brindle', 'gray', 'chocolate', 'fawn', 'blue', 'gold', 'yellow', 'sable', 'brown merle', 'silver', 'black brindle', 'buff', 'blue tiger', 'black smoke', 'apricot', 'brown tiger', 'red merle', 'liver', 'blue smoke', 'yellow brindle', 'liver tick', 'orange', 'black tiger', 'calico', 'blue cream', 'agouti', 'tortie', 'brown tabby', 'pink', 'gray tiger', 'ruddy', 'muted', 'green', 'solid', 'blonde', 'brindle', 'unknown', 'beige', 'mohagany', 'blue ticked', ' ', 'cream tiger', 'champaign', 'liver ticked', 'nan', 'tortie point', 'merle', 'seal point', 'red ticked', 'lilac point', 'orange tiger', 'chocolate point', 'br brindle', 'blk smoke', 'y brindle', 'bl brindle', 'brn merle']

In [63]:
#feature engineer color feature
merge_data['Color'] = merge_data['Color'].replace('brn', 'brown', regex = True)
merge_data['Color'] = merge_data['Color'].replace('br ', 'brown ', regex = True)
merge_data['Color'] = merge_data['Color'].replace('bl ', 'black ', regex = True)
merge_data['Color'] = merge_data['Color'].replace('y brindle', 'yellow brindle', regex = True)
merge_data['Color'] = merge_data['Color'].replace('ticked', 'tick', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tiger', 'brindle', regex = True)
merge_data['Color'] = merge_data['Color'].replace('blk', 'black', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tabby', 'brindle', regex = True)
merge_data['Color'] = merge_data['Color'].replace('muted', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('blue cream', 'blue', regex = True)
merge_data['Color'] = merge_data['Color'].replace('\s?point', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('calico', 'mix', regex = True)

In [64]:
#create pattern feature from splitting color column
merge_data['Pattern'] = 'unknown'

for i, row in merge_data.iterrows():
    for pattern in ['solid', 'sable', 'tick','tortie', 'saddle','merle', 'brindle', 'tricolor']:
        if pattern in row['Color']:
            merge_data.at[i, 'Pattern'] == pattern

In [65]:
#remove pattern feature from color column
merge_data['Color'] = merge_data['Color'].replace(' tick', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tick', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' brindle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('brindle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' tricolor', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tricolor', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' merle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('merle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' saddle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('saddle', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' sable', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('sable', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' solid', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('solid', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace(' smoke', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tortie ', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('tortie', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('/$', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('/ ', '', regex = True)
merge_data['Color'] = merge_data['Color'].replace('^/', '', regex = True)

In [66]:
#merge similar color to principal color
def GeneralizedColor(x):
    for brown in ['chocolate', 'liver', 'seal', 'mohagany']:
        if brown in x:
            return x.replace(brown, 'brown')
        else:
            pass
    if 'cream' in x:
        return x.replace('cream', 'white')
    else:
        pass
    for red in ['orange', 'tan', 'apricot', 'pink', 'ruddy']:
        if red in x:
            return x.replace(red, 'red')
        else:
            pass
    for yellow in ['blonde', 'gold', 'beige', 'champaign', 'buff', 'fawn']:
        if yellow in x:
            return x.replace(yellow, 'yellow')
        else:
            pass
    for grey in ['silver', 'agouti', 'gray', 'lilac']:
        if grey in x:
            return x.replace(grey, 'grey')
        else:
            pass
    return x

merge_data['Color'] = merge_data['Color'].apply(GeneralizedColor)

In [67]:
#merge similar color to principal color
def MergeColor(x):
    if '/' in x:
        splits = x.split('/')
        if splits[0] == splits[1]:
            return splits[0]
        else:
            return 'mix'
    else:
        pass
    if x == '' or x == 'nan':
        return 'unknown'
    else:
        return x

merge_data['Color'] = merge_data['Color'].apply(MergeColor)

In [68]:
#validate color
merge_data.Color.unique()

array(['white', 'mix', 'brown', 'unknown', 'red', 'black', 'blue',
       'yellow', 'grey'], dtype=object)

In [69]:
#create an age feature
merge_data['Age'] = merge_data['Outcome_Date'].sub(merge_data['DOB'], axis = 0).dt.days

In [70]:
#create an outcome month/year feature
merge_data['Outcome_Month'] = merge_data.Outcome_Date.dt.month
merge_data['Outcome_Year'] = merge_data.Outcome_Date.dt.year
merge_data['Outcome_Date'] = merge_data['Outcome_Date'].dt.strftime('%Y-%m')

In [71]:
#create an income month feature
merge_data['Intake_month'] = merge_data.Intake_Date.dt.month
merge_data['Intake_Date'] = merge_data['Intake_Date'].dt.strftime('%Y-%m')

In [72]:
#remove unused features
merge_data = merge_data.drop(columns = ['DOB', 'index'])

Even though some features still have NA values, I chose to leave them to provide an analysis on how some of these features I consider important would have on outcome types

In [73]:
merge_data.describe()

                 Age  Outcome_Month   Outcome_Year   Intake_month
count  116307.000000  166977.000000  166977.000000  112088.000000
mean     1165.932661       6.530881    2013.498398       6.508386
std      1284.308977       3.421984       3.928726       3.350609
min     -2921.000000       1.000000    1950.000000       1.000000
25%       308.000000       4.000000    2010.000000       4.000000
50%       734.000000       7.000000    2015.000000       7.000000
75%      1505.000000       9.000000    2017.000000       9.000000
max     14075.000000      12.000000    2019.000000      12.000000

In [74]:
#remove mislabeled age of less than 0 days old
index = merge_data.Age < 0
merge_data = merge_data[~index]

In [75]:
#removed mislabeled age of more than 7300 days old (20yo)
index = merge_data.Age > 7300
merge_data = merge_data[~index]

Age below 0 day and above 7300 days (20 years old) were considered mislabeled and dropped. Another alternative is to set to set to average

In [76]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166985 entries, 4 to 298443
Data columns (total 19 columns):
Breed             166985 non-null object
Chip_Status       26043 non-null object
Color             166985 non-null object
Health            110972 non-null object
Intake_Date       166985 non-null object
Intake_Status     76753 non-null object
Intake_Subtype    107727 non-null object
Intake_Type       111931 non-null object
Location          166985 non-null object
Outcome_Date      166985 non-null object
Outcome_Type      166985 non-null object
Sex               140941 non-null object
Neutered/Spay     166985 non-null object
Pure/Mix          166985 non-null object
Pattern           166985 non-null object
Age               116138 non-null float64
Outcome_Month     166808 non-null float64
Outcome_Year      166808 non-null float64
Intake_month      111931 non-null float64
dtypes: float64(4), object(15)
memory usage: 25.5+ MB

The final dataset shows many features with missing values. However, the missing values are result of missing feature information for some location. We can just ignore the missing values and analyze by location

In [77]:
merge_data.to_csv('../Data/Processed/Processed_Data.csv')

## Wrangling process
The process of wrangling began by investigating the features and eliminating obvious unimportant features from each datasets. Such features include the ID numbers, names, impound numbers, etc. Features with unknown importance were maintained to investigate in the EDA portion of the dataset to determine correlation. In the Louisville dataset, colors and breeds were formated into primary and secondary features. The features were merged in a format consistent with other datasets.

After merging the dataset, inconsistent naming pops out as the primary problem in the merged dataset. Regular expression were used primarily to normalized the naming process as well as simplifying the naming. Since the breed feature have over 4000 distinct categories, American Kennel Club's dog grouping was used to categorized animals breeds. The groups include hound, herding, sporting, non-sporting, working, terrier, toy and miscellaneous. Mix groups were categorized as mixes of the american kennel club groups such as hounding mix or sporting mix. Mixes of different groups were categorized as 'mix'. This eliminates feature categories to 17 categories. This method was similarly applied to the color feature. However, the coating pattern was separated from the color into a pattern column. For colors without coating decription was labeled as 'unknown'. The Age feature was generated from the difference of Outcome Date feature and Date of Birth (DOB) feature. Other features were also cleaned.

Since only Breed, Location, Outcome Date and Outcome Type were the only common features from all the datasets, other important features were not eliminated to diversify the modeling and investigating features on modeling acurracy and they were kept for analysis.